.view-container {
  width: 100%;
  height: calc(100vh - 24.9rem);
  display: flex;
  justify-content: center;
  .iframe {
    width: 100vw !important;
    height: calc(100vh - 24.9rem) !important;
  }
}
